<script src="/js/input_names.js"></script>
<div class="intro">
  <h3>RAAAAAAACE!</h3>

<form id="game-info" action="/startgame" method="POST">
  <input type="text" name="1" data-id="1" placeholder="Player 1"></input>
  <h4>vs.</h4>
  <input type="text" name="2" data-id="2" placeholder="Player 2"></input>

  <button class="add-player" type="button">Add Player</button>
  <button class="start-game" type="submit">GO!</button>

</form>
</div>
