<div class="container">
  <% TRACK_LENGTH = 20 %>

  <table class="racer_table">
    <tr id="player1_strip">
      <% TRACK_LENGTH.times do %>
        <td></td>
      <% end %>
    </tr>
    <tr id="player2_strip">
      <% TRACK_LENGTH.times do %>
        <td></td>
      <% end %>
    </tr>
  </table>

</div>
