<h3>RAAAAAAAAAACE!</h3>

<form id="game-info" action="/startgame" method="POST">
  <label for="p1">Player 1: </label>
  <input type="text" name="p1[initials]" id="p1"></input>

  <label for="p2">Player 2: </label>
  <input type="text" name="p2[initials]" id="p2"></input>

  <input type="submit" value="go!">

</form>
