<div class="intro">
  <h3>RAAAAAAACE!</h3>

<form id="game-info" action="/startgame" method="POST">
  <label for="p1"></label>
  <input type="text" name="p1[initials]" id="p1" placeholder="Player 1"></input>
  <h4>vs.</h4>
  <label for="p2"></label>
  <input type="text" name="p2[initials]" id="p2"placeholder="Player 2"></input>

  <input class="button" type="submit" value="go!">

</form>
</div>
